---
layout: default
title: Tidbits
---
<h2>
  <a id="tidbits-of-knowledge" class="anchor" href="#tidbits-of-knowledge" aria-hidden="true">
    <span class="octicon octicon-link"></span>
  </a>
  Welcome!
</h2>
<p>This site contains random tidbits of knowledge related to software development. These bits of information are typically born out of frustration or lack of documentation elsewhere, sort of like one big repository of "FYI".</p>

<h3>Tags</h3> 
{% for t in site.data.tags %}
  <a href="{{ site.baseurl }}/tag/{{ t.slug }}/">{{ t.name }}</a>{% if forloop.last == false %}, {% endif %}
{% endfor %}

</p>
<h3>Recent Posts</h3>
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url | prepend:site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
