---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}{% if post.tags.size == 1 %}<i class="fa fa-tag"></i> Tag{% else %}<i class="fa fa-tags"></i> Tags{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% assign thistag = null %}
        {% for t in site.data.tags %}
            {% if post_tag == t.slug %}
                {% assign thistag = t %}
            {% endif %}
        {% endfor %}
        {% if thistag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/tag/{{ thistag.slug }}/">{{ thistag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<article class="post">
    <h1>{{ page.title }}</h1>
    <small>Posted on: {{ page.date | date_to_string }}</small>

    {{ content }}
    
    <aside class="tags">
        <small class="meta">{{ tags_content }}</small>
    </aside>
</div>


