---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}{% if post.tags.size == 1 %}<i class="fa fa-tag"></i> Tag{% else %}<i class="fa fa-tags"></i> Tags{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for t in site.data.tags %}
            {% if post_tag == t.slug %}
                {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/tag/{{ t.slug }}/">{{ t.name }}</a> {% endcapture %}
                {% assign tags_content = tags_content_temp %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}


<h1>{{ page.title }}</h1>
<small>Posted on: {{ page.date | date_to_string }}</small>

<article class="post">
  {{ content }}
  <aside class="tags">
    <small class="meta">{{ tags_content }}</small>
  </aside>
</div>


